/* código omitido */

/* Responsividade */
@media (max-width: 768px) {
    .conteudo {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        width: 100%;
    }
}
/* Variáveis */
:root {
    /* Variáveis */
:root {
    --primary-color: #6D8A49; /* Verde musgo */
    --secondary-color: #8A9A5B; /* Verde mais claro */
    --text-color: #556B2F; /* Verde oliva escuro */
    --background-color: #F2E3D5; /* Mantendo o bege claro */
    --button-hover: #3D522B; /* Verde mais escuro para hover */
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Corpo da página */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
}

img {
    max-width: 90%;
}

